.heading {
    
    color: map-get($colors, "primary");
    font-size: 4.2rem;
    margin-bottom: 1.5rem;

    @include respond(lg) {
        font-size: 4.8rem;
    }

    &__container {
        max-width: max-content;
        margin-bottom: 4rem;
    }

    &__line {
        border-bottom: .6rem solid map-get($colors, "secondary");
        width: 40%;
    }

    &__center {
        display: flex;
        justify-content: center;
    }
}

h1, h2,h3,h4,h5,h6 {
    font-family: $LibreBaskerville;
}

.t--secondary {
    color: map-get($colors, 'secondary');
    font-weight: 800;
}