.banner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8rem;
    margin-top: -8rem;

    background-image: linear-gradient(to right top, rgba(32, 33, 41, 0.84), rgba(30, 121, 141, 0.84)),url(../src/assets/images/helena-lopes-PGnqT0rXWLs-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include respond(lg) {
        height: 68rem;
    }

    &__content {
        max-width: 84rem;
        width: 100%;
    }
    
    &__h1 {
        font-size: 4.2rem;
        color: white;
        font-family: $LibreBaskerville;
        margin-bottom: 4rem;
        text-align: center;

        @include respond(lg) {
            font-size: 5.8rem;
            text-align: left;
        }
    }

    &__btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include respond(lg) {
            flex-direction: row;
            justify-content: flex-start;
        }

        & > *:not(:last-child) {

            margin-bottom: 4rem;
            margin-right: 0;

            @include respond(lg) {
                margin-right: 4rem;
                margin-bottom: 0;
            }
        }
    }
}

.overview {
    line-height: 150%;
    margin-bottom: 8rem;

    &__h4 {
        font-size: 3.6rem;
        margin-bottom: 4rem;
    }

    &__text {
        &:not(:last-child) {
            margin-bottom: 4rem;
        }
    }
}

.team {
    margin-bottom: 8rem;

    &__container {
        position: relative;
    }
    
    &__right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: map-get($colors, 'primary');
        padding: 6rem;

        @include respond(xl) {
            padding: 0;
            padding-left: 6rem;
            height: 78.6rem;
            max-width: 82.4rem;        
        }

        &--container {
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include respond(xl) {
                height: 78.6rem;
                max-width: 46rem;        
            }
        }
    }

    &__text {
        color: white;
        margin-bottom: 8rem;
    }

    &__img {
        max-width: 82.4rem;
        margin-bottom: 8rem;
        
        @include respond(xl) {
            margin-bottom: 0;
            position: absolute;
            top: 50%;
            left: 70%;
            transform: translate(-50%, -50%);
        }
    }
}