.btn {
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: 2.4rem;
    font-weight: 700;
    max-width: 33.6rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8.5rem;
    border-radius: 1.5rem;
    transform: translateY(0);
    transition: all ease-in .2s;

    & > *:not(:last-child) {
        margin-right: 2rem;
    }

    &:hover {
        transform: translateY(-.4rem);
    }

    &:focus {
        transform: translateY(0rem);
    }

    &--solid {
        background-color: map-get($colors, 'secondary');
        border: none;
    }

    &--hollow {
        background-color: transparent;
        border:.4rem solid map-get($colors, 'secondary');
    }

    &__icon {
        width: 3.7rem;
        height: 2.6rem;

        @include respond(lg) {
            width: 3.7rem;
            height: 2.6rem;
        }
    }
}

:root{
    --primary-blue: #6CE7D6;
    --primary-blue-dark: #08AEEA;
    --red-light: #F44881;
    --red-dark: #EC4551;
    --green-light: #72FFA1;
    --green-dark: #55C57A;
    --purple-light: #B372BD;
    --purple-dark: #8B60ED;
    --grey-dark: #434343;
    --grey-light: #f8f8f8;
    --grey: #858585;

    --horizontal-gutter: 4rem;
    --box-shadow: 0 0.5rem .8rem rgba(0,0,0,0.2);
}