.card {

    &__info {
        position: relative;
        width: 100%;
        height: 12.2rem;
        margin: 0 auto;
        background-color: transparent;
        border: none;
        cursor: pointer;

        &:not(:last-of-type) {
            margin-bottom: 4rem;
        }

        @include respond(xl) {
            max-width: 100%;
        }

        &--icon {
            position: absolute;
            right: 22px;
            top: -22px;
            z-index: 3;
        }
    }
    
    &__offset {
        position: relative;

        &--front {
            position: relative;
            z-index: 2;
        }

        &--back {
            background-color: map-get( $colors, 'primary' );
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0.8rem;
            top: 0.8rem;
            z-index: 1;
            border-radius: 0.9rem;
        }

        &--wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            border: 0.1rem solid map-get( $colors, 'primary');
            background-color: white;
            border-radius: 0.9rem;
            z-index: 2;
            padding: 2rem 1.6rem;
        }

        &--content {
            max-width: 100%;
        }

        &--title {
            color: map-get( $colors, primary );
            font-size: 2rem;
            font-weight: 500;
            font-family: $LibreBaskerville;
            margin-bottom: 0.8rem;
            text-align: center;

            @include respond(xl) {
                margin-bottom: 1.2rem;
                font-size: 3.2rem;
            }
        }

        &--text {
            font-size: 1.4rem;

            @include respond(xl) {
                font-size: 2rem;
            }
        }

    }    
}